*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}
.card{
  margin: 20px;
  padding: 30px;
height: 300px;
width: 400px;
background-color: #3c1a1a;
border-radius: 20px;
color: rgb(255, 255, 255);
}
.card top{
  
}